# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: update data

on:
  workflow_dispatch:

jobs:
  update-data:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Build
        run: npm install -g pnpm&& pnpm install --no-frozen-lockfile && pnpm run data

      - name: Update Data
        uses: EndBug/add-and-commit@v7
        with:
          add: 'public/data/*.json'
          default_author: github_actions
          message: 'update data'
